*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gentium Plus", serif;
}

header {
	padding: 1em;
  background-color: #fdf0d5;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

.swiper{
  width: 90%;
  margin: 0 auto;
}
.swiper-slide{
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide>img{
  width: 100%;
}

main { 
	width: 90%;
  margin: 0 auto;
  padding-block: 1em;
}

.column{
  padding: 1em;
}

footer {
	text-align: center;
	padding: 1em;
	background: #E8E8E8;
}



.cta{
  background: rgba(123, 157, 179, .8);
  border-radius: 20px;
  border: 5px solid #084d64;
  margin-top: -50px;
  z-index: 100;
  text-align: center;
  padding: .5em;
  text-decoration: none;
  align-self: flex-end;
  color: #03425b;
  font-weight: 600;
}

/**************** Media Queries ****************/
@media only screen and (min-width: 600px) {

  h1{font-size: 2.5rem;}
	main { display: flex; }
	.column { flex: 1; }
  .cta{
    font-size: 1.5rem;
    margin-top: -100px;
  }
}

@media only screen and (min-width: 1000px) {
	
	#page {
		max-width: 1000px;
		margin: auto;
	}

}
